<h3>Liste enemy</h3>
<table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Desription</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    <tbody>
<% _.each(data, function(data){  %>
<tr>
            <td><%= data.id %></td>
            <td><%= data.name %></td>
            <td><%= data.desc %></td>
            <td><a href="/ennemy/delete/<%= data.id %>" >Delete</a></td>
            <td><a href="/ennemy/object/<%= data.id %>" >Update</a></td>
        </tr>
<% }) %>
</tbody>
</table>
<h3>Ajouter un objet</h3>

<form action="/ennemy/add" method="POST" class="pure-form pure-form-stacked">
	<input type="text" name="name" placeholder="Nom">
	<input type="text" name="desc" placeholder="Description">
	<input type="submit">
</form>